<div class="row">
  <div class="col">
    <div class="card">
      <img src="./assets/_img/html-css-js.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card HTML-CSS-JS</h5>
        <p class="card-text">HTML-CSS-JS</p>
        <p class="card-text">
          <small class="text-muted">Primeiros programas</small>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/_img/ANGULAR.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card ANGULAR</h5>
        <p class="card-text">ANGULAR</p>
        <p class="card-text">
          <small class="text-muted">Primeiros programas</small>
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="./assets/_img/bootstrap.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card BOOTSTRAP</h5>
        <p class="card-text">BOOTSTRAP</p>
        <p class="card-text">
          <small class="text-muted">Primeiros programas</small>
        </p>
      </div>
    </div>
  </div>
</div>
